MSCompanion/bin
MSCompanion/obj
MSCompanionLib/bin
MSCompanionLib/obj
MSCompanion_UnitTests/bin
MSCompanion_UnitTests/obj
OldVersions
MSCompanion/TestData/UserDataDir/Movies/El Don - 003/*
MSCompanion/TestData/UserDataDir/Movies/Intro - Space Freighter Passes/*
MSCompanion/TestData/UserDataDir/Movies/Kill Easy/*
MSCompanion/TestData/UserDataDir/Movies/TEST - Cryostasis Chamber/*
MSCompanion/TestData/UserDataDir/Movies/The Sentinel - 003/*
